.text-shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.brand-logo{
font-family: 'Satisfy', cursive;
}
.social-footer{
    color: white;
    font-size: 25px;
    margin: 3px;
}
body{
    font-family: 'comic-sans', sans-serif;
}

.flashes h4 {
    line-height: 2;
    color: white;
}
.info-cards-home{
    padding-top: 50px;
}

.midpoint-break{
    width: 80%;
    padding-left: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-color: #ffa726;
}
.profile-welcome{
    margin-bottom: 200px;
    min-width: 200px;
}

.page-footer{
    position: relative;
    bottom: 0;
    width: 100%;
    overflow: none;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.page-footer{
    margin-top: 130px;
}
}
