{% extends "base.html" %} 
{% block content %}

<h3 class="orange-text darken-2 center-align text-shadow">Add Recipe</h3>


    <div class="row">
	<form class="col s12 m6 offset-m3" method="POST" action="">
		<div class="card-panel">
            <div class="row">
                <div class="input-field col s12">
                <i class="fas fa-folder-open prefix orange-text text-darken-2"></i>
                    <select id="cuisine_name" name="cuisine_name" class="validate" required>
                        <option value="" disabled selected>Choose Cuisine</option>
                        {% for cuisine in cuisine %}
                            <option value="{{ cuisine.cuisine_name }}">{{ cuisine.cuisine_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="cuisine_name">Cuisine</label>
                </div>
            </div>
			<!---Recipe Name-->
			<div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix orange-text text-darken-2"></i>
                    <input id="recipe_name" name="recipe_name" minlength="4" maxlength="50"
                        type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
			</div>
            <!----Recipe description-->
			<div class="row">
				 <div class="input-field col s12">
                    <i class="fas fa-align-left prefix orange-text text-darken-2"></i>
                    <textarea id="recipe_description" name="recipe_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="recipe_description">Recipe description</label>
                </div>
			</div>
			<!---Button---->
		</div>
	</form>
</div>

{% endblock %}
