{% extends "base.html" %} 

{% block content %}


<h1 class="center-align orange-text darken-2"></h1>


<!----Image slider-------->
<div class="slider">
    <ul class="slides">
      <li>
        <img src="{{ url_for('static', filename='img/home-slider.jpg') }}" alt="picture of food">
        <div class="caption center-align">
          <h3 class="text-shadow">Add your Favorite Recipes</h3>
          <h5 class="light grey-text text-lighten-3 text-shadow">Select from a list of popular cuisines</h5>
        </div>
      </li>
      <li>
        <img src="{{ url_for('static', filename='img/home-slider-2.jpg') }}" alt="picture of food">
        <div class="caption left-align">
          <h3 class="text-shadow">Search for some foodie inspiration</h3>
          <h5 class="light grey-text text-lighten-3 text-shadow">Ideas for your next get together</h5>
        </div>
      </li>
      <li>
        <img src="{{ url_for('static', filename='img/home-slider-3.jpg') }}" alt="picture of food">
        <div class="caption right-align">
          <h3 class="text-shadow">Share with your family & friends</h3>
          <h5 class="light grey-text text-lighten-3 text-shadow">Or just brush up on your cooking skills to impress a partner</h5>
        </div>
      </li>
      <li>
        <img src="{{ url_for('static', filename='img/home-slider-5.jpg') }}">
        <div class="caption center-align">
          <h3 class="text-shadow">Foodluv is your recipe manager to create and store favorite meals</h3>
          <h5 class="light grey-text text-lighten-3 text-shadow">And keep them for later</h5>
        </div>
      </li>
    </ul>
  </div>

  <hr class="midpoint-break">

<!-----Info cards-->
<div class="container info-cards-home">
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
        <h4 class="center-align orange-text darken-2 text-shadow">Add recipes</h4>
          <p>Sign up to be able to add and store your favorite recipes to use at a later time</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
            <h4 class="center-align orange-text darken-2 text-shadow">Save Time</h4>
          <p>Select from a preset list of cuisines and we will automatically asign it an image to reflect the cuisine you choose</p>
        </div>
        <div class="card-action center-align">
          <a href="#">Sign up</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
        <h4 class="center-align orange-text darken-2 text-shadow">Share your recipes</h4>
          <p>Share with family and friends through whatsapp or encourage them to sign up to add recipes too.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="midpoint-break">
{% endblock %}
